.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}
.tablas {
    border: thin solid #000000;
    background-color: #F4EEC8;
    text-align: center;
}

.bienvenida {
    margin-top:30%; position:relative;
}
